.container {
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  margin: 5px;
  padding: 15px;
  display: flex;
  border: none;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
}

.avatar {
  border: rgb(145, 0, 0) solid 3px;
  border-radius: 100%;
  width: 150px;
}

.containerNomesJP {
  margin-left: 25px;
}

.containerNome {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nome {
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: rgb(145, 0, 0) solid 2px;
  outline: 0;
  background: transparent;
  color: white;
  font-size: large;
  text-align: center;
}

.tituloNome {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


/* .nomePersonagem {
  margin-top: 10px;
  margin-left: 15px;
  width: 200px;
  height: 50px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border: 0;
  outline: 0;
  border-bottom: rgb(145, 0, 0) 2px solid;
  transition: border-color 0.5s;
  background-color: rgba(0, 0, 0, 0.171);
  color: white;
}

.nomePersonagem:focus
{
  animation: border-fade 1s infinite alternate;
}

@keyframes border-fade {
  0% {
    border-color: red;
  }
  100% {
    border-color: purple;
  }
} */