.container {
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
}

.img-nomes {
  display: flex;
}
.avatar {
  border-radius: 100%;
  width: 150px;
}

.containerJogador-Personagem {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.Jogador-Personagem {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nomeJogador-Personagem {
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: rgb(145, 0, 0) solid 2px;
  outline: 0;
  background: transparent;
  font-size: large;
  text-align: center;
  color: white;
}

.orgm-class {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Origem-Classe {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nomeOrigem-Classe {
  width: 200px;
  height: 50px;
  margin-top: 25px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(145, 0, 0, 0.363);
  font-size: 20px;
  text-align: center;
}

.status {
  display: flex;
  flex-direction: column;
  width: 467px;
  height: 300px;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid rgba(145, 0, 0, 0.63);
}

.status-vida {
  display: flex;
}

.seta-button {
  display: flex;
  align-items: center;
  margin: 0;
}

.buttonStatus {
  width: 25px;
  height: 15px;
  margin: 3px;
  margin-right: 5px;
}

.buttonStatus:hover {
  width: 27px;
  height: 17px;
}

.seta {
  width: 15px;
  height: 15px;
}

#heart
{
  width: 25px;
  transition: transform 0.2s ease-in-out;
}

#heart.pulsando {
  transform: scale(1.5);
}

.progress {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  background-color: rgb(20, 20, 20);
  border: 2px solid rgba(145, 0, 0, 0.63);
}

.bar {
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
  text-align: center;
  font-weight: 600;
}

.bar.green {
  border-radius: 10px;
  background-color: #00cc00;
}

.bar.yellow {
  border-radius: 10px;
  background-color: #ffcc00;
}

.bar.red {
  border-radius: 10px;
  background-color: #ff3300;
}







/* .nomePersonagem {
  margin-top: 10px;
  margin-left: 15px;
  width: 200px;
  height: 50px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border: 0;
  outline: 0;
  border-bottom: rgb(145, 0, 0) 2px solid;
  transition: border-color 0.5s;
  background-color: rgba(0, 0, 0, 0.171);
  color: white;
}

.nomePersonagem:focus
{
  animation: border-fade 1s infinite alternate;
}

@keyframes border-fade {
  0% {
    border-color: red;
  }
  100% {
    border-color: purple;
  }
} */