.container {
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  /* background-color: rgb(182, 228, 182); */
}

.img-nomes {
  display: flex;
  /* background-color: yellow; */
}
.avatar {
  /* border: rgb(145, 0, 0) solid 3px; */
  border-radius: 100%;
  width: 150px;
}

.containerJogador-Personagem {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.Jogador-Personagem {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nomeJogador-Personagem {
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: rgb(145, 0, 0) solid 2px;
  outline: 0;
  background: transparent;
  font-size: large;
  text-align: center;
}

.orgm-class {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: aqua; */
}

.Origem-Classe {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: blueviolet; */
}

.nomeOrigem-Classe {
  width: 200px;
  height: 50px;
  margin-top: 25px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(145, 0, 0, 0.363);
  font-size: 20px;
  text-align: center;
}

.status {
  width: 467px;
  height: 300px;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid rgba(145, 0, 0, 0.63);
}

.status-vida {
  display: flex;
  margin-top: 10px;
}

.botaoStatus {
  width: 50px;
  border: none;
  background: rgba(145, 0, 0, 0.63);
  font-size: 20px;
  margin: 2px;
  /* background: rgb(158,2,2); */
  /* background: linear-gradient(90deg, rgba(158,2,2,1) 0%, rgb(0, 0, 0) 90%); */
  /* border: 2px solid rgb(58, 1, 1); */
  border-radius: 5px;
  color: white;
}

.heart 
{
  width: 25px;
}

.progress-bar{
  width: 300px;
  height: 25px;
  background-color: white;

}
/* .nomePersonagem {
  margin-top: 10px;
  margin-left: 15px;
  width: 200px;
  height: 50px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border: 0;
  outline: 0;
  border-bottom: rgb(145, 0, 0) 2px solid;
  transition: border-color 0.5s;
  background-color: rgba(0, 0, 0, 0.171);
  color: white;
}

.nomePersonagem:focus
{
  animation: border-fade 1s infinite alternate;
}

@keyframes border-fade {
  0% {
    border-color: red;
  }
  100% {
    border-color: purple;
  }
} */