* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url('../Images/backgroundOP.jpg');
  background-size: cover;
  background-position: center center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}